<header class="pt-4">
  <div class="cook-header">
    <a class="navbar-brand pb-4"
       href="#">
      <h1>Friends & Family Cookbook Creator</h1>
    </a>
    <div class="container-fluid">
      <nav class="navbar navbar-light navbar-expand-sm">

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center"
             id="navbarNav">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light"
                 href="#">View Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light"
                 href="#">Add A Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light"
                 href="#">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light"
                 href="#">Sign In</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
</header>
