header {
  background-color: #9c8cd4;
  font-family: 'Rock Salt', sans-serif;
  position: relative;
}

.cook-header .navbar-brand {
  display: block;
  text-align: center;
}

h1 {
  color: black;
  font-size: 3vw;
  margin-bottom: 1.5rem;
}

.navbar {
  align-items: flex-end;
  padding: 0rem 1rem;
}

.navbar-toggler {
  border-color: rgba(0,0,0,.5);
}

.nav-item {
  padding: 0 1.5rem;
  font-size: 1rem;
  color: white;
}


