<div class="viewRecipes">
  <h2>Preserve and share old family recipes</h2>
</div>
<div class="newRecipes">
  <div class="title">
    <h2 class="justify-content-center mb-0">Create and share new ones with friends and family! </h2>
  </div>
</div>

<div class="gettingStarted">
  <div class="title">
    <h2>Let's Get Cooking!</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="cookin col-md">
        <div class="inner d-flex flex-column border rounded">
          <span>
            <fa-icon [icon]="faUserFriends"></fa-icon>
          </span>
          <span class="space">Create an account or Sign In</span>
        </div>
      </div>
      <div class="cookin col-md">
        <div class="inner d-flex flex-column border rounded">
          <span>
            <fa-icon [icon]="faBookReader"></fa-icon>
          </span>
          <span class="space">Create a new recipe book or open an existing one</span>
        </div>
      </div>
      <div class="cookin col-md">
        <div class="inner d-flex flex-column border rounded">
          <span>
            <fa-icon [icon]="faKeyboard"></fa-icon>
          </span>
          <span class="space">Type in a recipe or invite others to contribute</span>
        </div>
      </div>
      <div class="cookin col-md">
        <div class="inner d-flex flex-column border rounded">
          <span>
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
          <span class="space">Search online for new recipes</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile">
  <div class="title">
    <h2>Take Your Recipes With You</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="alignImg d-flex justify-content-center">
          <img src="/assets/img/app-iPhone.png"
               class="img-fluid"
               alt="cell phone">
        </div>
      </div>

      <div class="col-6 d-flex">
        <span class="align-middle">Now you can take your recipes with you. It's easy to choose which grocery
          items you
          need when you can access
          the
          recipe on your cell phone.</span>
      </div>
    </div>
  </div>
</div>
